*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.keyboardContainer {
    text-align: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.guessedWordsArea {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.secretWord {
    margin-bottom: 20px;
    font-size: 140%;
    font-weight: bold;
    letter-spacing: 10px;
}

.choices {
    font-size: 110%;
    color: #2d3132;
    margin-bottom: 20px;
}

.loseBoxContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #2d3132;
    border-radius: 10px;
    padding: 20px;
}

.loseBoxContainer h3 {
    color: red;
    margin-bottom: 10px;
}

.loseBoxContainer span {
    color: rgb(30, 218, 30);
}


.winBoxContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #30d6ff;
    border-radius: 10px;
    padding: 20px;
}

.winBoxContainer h3 {
    color: white;
    margin-bottom: 10px;
}

.winBoxContainer span {
    color: rgb(253, 0, 0);
}

@media screen and (max-width: 630px) {
    .imgContainer img {
        width: 120px;
    }

    .secretWord {
        font-size: 110%;
    }
}


.menuContainer {
    width: 100%;
    border: 2px solid goldenrod;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}

.menuItem {
    position: relative;
    cursor: pointer;
    transition: 100ms ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-bottom: 1px solid slategrey;
    border-top: 1px solid slategrey;

}

.menuItem:hover {
    transform: scale(1.1);
}

.menuItem:active {
    transform: scale(0.9);
    opacity: 0.5;
}

.menuItem img {
    width: 60px;
}

.menuItem p {
    color: rgb(10, 10, 204);
    position: absolute;
    font-weight: bold;
    font-size: 20px;
    right: 0;
    bottom: 0;
}