.letterBtn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(237, 237, 84);
    margin: 4px;
    transition: all 300ms;
    border-radius: 5px;
    text-transform: uppercase;
    user-select: none;
}

.letterBtn:disabled {
    cursor: not-allowed;
    background-color: #000;
    color: #ccc;
    text-transform: capitalize;
    /* opacity: 0.5; */
}